*{
    margin: 0;
    padding: 0;
}

button{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    
}


.join{
    display:flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input{
    width: 50%;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

#gameCode{
    display: none;
    height: 40%;
    width: 50%;
    font-size: 1.2em;
    padding: 10px;
    margin: 20px;
    background-color: #6affbc;
    
}

.code{
    display:flex;
    width: 100%;
    padding: 2px;
    justify-content: center;
    align-items: center;
    /* background-color: #27beff; */
}

#game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
        
    width: 100vw;
    height:auto;
    background-color: #0095ff;
}

.doodle{
    display: flex;
    flex-direction: column;

}


#gc{
    background-color: #ffffff;
    color: #1a1a1ab0;
    padding: 10px;
    border: 1px solid #ffffff;
}

h1{
    color: #090909;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#what-to-draw{
    color: #050505;
    font-size: 2.0em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.wrapper{
    display: flex;
    width: 100vw;
    padding: 10px;
    background-color: aliceblue;
    
}

.aim{
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: #1e1e1f;
}

#doodles{
    display:flex;
    padding: 5px;
    margin: 5px;
    flex-wrap: wrap;
}

img{
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background-color: #7e7e7e;
}

canvas{
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
}

p{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
        
    width: 100vw;
    height:100vh;
    overflow: hidden;
    background-color: #0095ff;
}

